div {
    border :2px black solid;
}

#first {
    background-color: green;
    padding: 50px ;
    width: 500px;
}

#second {
    background-color: chartreuse;
    padding: 40px;
}

#third {
    background-color: darkgreen;
    padding: 30px;
}

#fourth {
    background-color: lawngreen;
    padding: 20px;
}

#fifth {
    background-color: greenyellow;
    padding: 10px;
}

body {
    background: beige;
}

