@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');



h1, tr, th, p  {
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
}


tr, th, p, h1, label {
    color: black;
}





